@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Handlee', cursive;
    letter-spacing: 0.1rem;
    color: #242D3C;
}

/* Mentions Légales */
@media screen and (min-width:600px) {
    .mentions {
        width: 70%;
        margin-left: 13%;
    }
}

@media screen and (max-width:600px) {
    .mentions {
        text-align: justify;
        margin: 1rem;
    }
}

/* background */
/* .background {
    background: rgba(0, 0, 0, 0.1) url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
} */

/* navbar */

.navigation {
    background-color: #242d3c6b;
}

.sewing {
    background: rgba(0, 0, 0, 0.1) url("../images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.welcome {
    font-family: 'Handlee', cursive;
}

/* footer */
footer {
    background-color: #242D3C;
    color: white;
}

/* accueil */

.cadre {
    position: relative;
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 2rem;
    color: whitesmoke;
}

.arrondissement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* newsletter */

@media screen and (min-width:600px) {

    .newsletter:before,
    .newsletter:after {
        content: '';
        width: 50%;
        border-bottom: #242D3C solid 1px;
        display: inline-block;
        vertical-align: middle;
    }
}

@media screen and (min-width:600px) {
    .newsletter:before {
        margin-left: -100%;
        margin-right: 3em
    }
}

@media screen and (min-width:600px) {
    .newsletter:after {
        margin-right: -100%;
        margin-left: 3em;
    }
}

/* commentaires */

@media screen and (min-width:600px) {

    .comments:before,
    .comments:after {
        content: '';
        width: 30%;
        border-bottom: #242D3C solid 1px;
        display: inline-block;
        vertical-align: middle;
    }
}

@media screen and (min-width:600px) {
    .comments:before {
        margin-left: -100%;
        margin-right: 2em
    }
}

@media screen and (min-width:600px) {
    .comments:after {
        margin-right: -100%;
        margin-left: 2em;
    }
}

/* Bouton */

.bouton {
    background-color: #242D3C;
}