@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.titleMain {
    font-family: 'Courgette', cursive;
    /* letter-spacing: 0.1rem; */
    color: #5C5B7E;
}

/*  */
/* Mentions Légales */
/*  */
@media screen and (min-width:600px) {
    .mentions {
        width: 70%;
        margin-left: 13%;
    }
}

@media screen and (max-width:600px) {
    .mentions {
        text-align: justify;
        margin: 1rem;
    }
}

/*  */
/* navbar */
/*  */
.navigation {
    background-color: #5C5B7E;
    color: rgb(0, 0, 77);
    /* position: sticky;
    top: 0;
    width: 100%;
    z-index: 1; */
}



.navigationMobile {
    background-color: #5C5B7E;
}

.paris {
    background: rgba(0, 0, 0, 0.1) url("../images/images/vector-illustration-dessin-de-la-tour-eiffel-paris-france-monument-de-paris-paysage-panoramique-avec-la-tour-eiffel-et-le-pont-alexandre-iii-vie-txaen0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.welcome {
    font-family: 'Courgette', cursive;
}

.welcome2 {
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
}

.MenuBurger {
    color: white;
}

/*  */
/* footer */
/*  */
footer {
    background-color: #5C5B7E;
    color: white;
}

/*  */
/* accueil, ériture arrondissement sur images + image accueil*/
/*  */
.cadre {
    position: relative;
    text-align: center;
    font-family: 'Courgette', cursive;
    /* font-size: 1.5rem; */
    color: whitesmoke;
}

.arrondissement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.glass {
    background: rgba(36, 40, 50, 0.198);
    border-radius: 10%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 0.2REM;
}

.hoverNav:hover {
    background-color: #5c5b7e85;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.image {
    height: 15rem;
    width: 100%;
}

.backgroundHotDeals {
    background-color: #BBA2DB;
    width: 95%;
}

.newDeals {
    background-color: rgb(0, 0, 77);
}

.newDealsWrite {
    color: rgb(0, 0, 77);
}

.hotDeals {
    background-color: #FCB001;
}


/* augmenter la taille des card quand hover */
.cardarr:hover {
    transition: transform .2s;
    transform: scale(1.05);
}

/*  */
/* barre de séparation newsletter */
/*  */
@media screen and (min-width:600px) {

    .newsletter:before,
    .newsletter:after {
        content: '';
        width: 40%;
        border-bottom: #242D3C solid 1px;
        display: inline-block;
        vertical-align: middle;
    }
}

@media screen and (min-width:600px) {
    .newsletter:before {
        margin-left: -100%;
        margin-right: 3em
    }
}

@media screen and (min-width:600px) {
    .newsletter:after {
        margin-right: -100%;
        margin-left: 3em;
    }
}

/*  */
/* barres de séparations */
/*  */
@media screen and (min-width:600px) {

    .comments:before,
    .comments:after {
        content: '';
        width: 30%;
        border-bottom: #242D3C solid 1px;
        display: inline-block;
        vertical-align: middle;
    }
}

@media screen and (min-width:600px) {
    .comments:before {
        margin-left: -100%;
        margin-right: 2em
    }
}

@media screen and (min-width:600px) {
    .comments:after {
        margin-right: -100%;
        margin-left: 2em;
    }
}

/*  */
/* Bouton submit formulaire de contact */
/*  */
.bouton {
    background-color: #242D3C;
}

.bouton:hover {
    background-color: #242D3C;
}

/*  */
/* google map */
/*  */
@media screen and (min-width:600px) {
    .map {
        width: 100%;
        height: 30rem;
    }

}

@media screen and (max-width:600px) {
    .carte {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:600px) {
    .map {
        align-items: center;
        width: 100%;
        height: 20rem;
        /* margin-left: 10%; */
        margin-bottom: 2rem;
    }
}


/*  */
/*gallery  */
/*  */
#imgPreview {
    width: 400px;
    max-height: 400px;
    display: block;
}

.galleryPicture {
    width: 100%;
    height: auto;
}

.gallery {
    width: 25rem;
    height: auto;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}


/* boutons dashboards */
.boutons {
    width: 15rem;
    height: 5rem;
    background-color: #2E3F5D;
    ;
}

.boutons:hover {
    background-color: #5C5B7E;
}

/* font choix catégories addDeals */
.fontCat {
    font-size: 0.9rem;
}


.alignement {
    display: flex;
    justify-content: center;
}
/* hastags */
.links {
    color: #48CFC4;
}

/* couleurs des étoiles sur le rating */

.rating {
    color: goldenrod;
}



/* back to the top */

#btn-back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    background-color: #5C5B7E;
}

#btn-back-to-top:hover {
    background-color: #5C5B7E;
}

/* carte paris  */

.carteParis {
    width: 100%;
    height: auto;
}

/* deal message en dessousd des commentaires */

.thankYou {
    font-size: 0.8rem;
    color: grey;
}

/* logo réseaux sociaux deals */

.logo {
    height: 2rem;
    width: auto;
}

.logo:hover {
    opacity: 0.5;
}

/* barre de recherche deals */

#myInput {
    background-image: url('../images/images/search.svg');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

/* Boutons back admin */

.back {
    background-color: #cdfbfd;
}

.back:hover {
    background-color: #cdfbfd;
}


/* images pour le dashboard admin + connexion */

.background {
    background: rgba(0, 0, 0, 0.1) url("../images/images/pexels-pierre-blaché-3009663.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

@media screen and (min-width:600px) {
    .backgroundAdmin {
        background: rgba(0, 0, 0, 0.1) url("../images/images/pexels-lina-kivaka-3989820.jpg");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
    }
}

/* taille éléments obligatoires dans formulaire deals */
.mandatoryInput {
    font-size: 0.8REM;
}

/* Deals */
.breadcrumb-navigation>li {
    display: inline;
}

.breadcrumb-navigation li+li:before {
    padding: 0.5REM;
    /* content: "<i class='bi bi-caret-right-fill'></i>"; */
}

.filAriane {
    color: grey;
    font-size: 0.8rem;
}

.imgCard {
    width: 100%;
    height: 10rem;
}

.lineHeight {
    line-height: 2rem;
}


/* couleurs cards catégories */
.beige {
    background-color: bisque;
}

.pink {
    background-color: pink;
}

.green {
    background-color: #D9EDDD;
}

.blue {
    background-color: #C5DEEA;
}

.oceanBlue {
    background-color: #65DAE3;
}

.purple {
    background-color: #BDABDA;
}

.yellow {
    background-color: #F4F590;
}

.red {
    background-color: #F7665F;
}

.orange {
    background-color: #F0C7B4;
}

.grey {
    background-color: #B6C1CD;
}

/* Taille des images cards */
.imgArrCat {
    width: 100%;
    height: 20rem;
}

/* Taille map home */


@media screen and (min-width:600px) {
    .goodDealsMap {
        width: 80%;
        height: 40REM;
    }

}

@media screen and (max-width:600px) {
    .goodDealsMap {
        width: 95%;
        height: 15rem;
    }
}

.imageHome {
    width: 85%;
    height: auto;
}

/* couleurs boutons archive + activer les deals + commentaires */
.archive {
    background-color: burlywood;
}

.archive:hover {
    background-color: burlywood;
}

.activated {
    background-color: #a5d2af;
}

.activated:hover {
    background-color: #a5d2af;
}

/* vue 100% de la page */

main {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}



html {
    height: -webkit-fill-available;
}
/* header cards dashboard */
.headerCards {
    background-color: #dcccf6;
}